@font-face {
    font-family: 'MyFont';
    src: url('assets/fonts/MyCustomFont.ttf');
}
.font-custom {
    font-family: 'MyFont';
}
body {
    background-color: #f8f9fa;
    color: #333;
    font-size: 16px;
}
h1 {
    color: #007bff;
}
